# Build artifacts
**/bin/
**/obj/

# .NET Core / .NET 5+ specific files
*.dll
*.exe
*.pdb
*.userprefs
*.vscode
.vs/

# NuGet packages
*.nuget.props
*.nuget.targets

# Local development files


# Visual Studio files
.vscode/

*.suo
*.csproj.user
*.user
*.vspscc
*_i.c
*_p.c
*.ncb
*.sdf
*.opensdf
*.cachefile
*.VC.db
*.VC.opendb
*.DotSettings.user
*.DotSettings

# Rider files
.idea/

*.ipr
*.iws
**logs
# Test Results
TestResults/
[nN]ode[_-]?[mM]odules/
